//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define Base        0
#define Media       1
#define Nav         2
#define Mouse       3
#define Sym         4
#define Num         5
#define Fun         6
#define Button      7
#define Game        8
#define Gameplus    9

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        td_alt: td_alt {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ALT";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT>, <&kp RIGHT_ALT>;
        };

        td_shift_ctrl: td_shift_ctrl {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SHIFT_CTRL";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp LCTRL>;
        };

        td2: td2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD2";
            #binding-cells = <0>;
            bindings = <&shit RIGHT_SHIFT>, <&mo 0>;
        };

        shit: shit {
            compatible = "zmk,behavior-sticky-key";
            label = "SHIT";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <50>;
        };

        question: question {
            compatible = "zmk,behavior-mod-morph";
            label = "QUESTION";
            bindings = <&kp LS(NUMBER_1)>, <&kp LS(MINUS)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        eins {
            bindings = <&kp ESC>;
            key-positions = <1 2>;
            timeout-ms = <100>;
        };

        zwei {
            bindings = <&kp TAB>;
            key-positions = <22 23>;
            timeout-ms = <100>;
        };

        vier {
            bindings = <&kp ENTER>;
            key-positions = <28 29>;
            timeout-ms = <100>;
        };

        del {
            bindings = <&kp DELETE>;
            key-positions = <7 8>;
        };

        drei {
            bindings = <&kp ENTER>;
            key-positions = <34 35>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            bindings = <
              &kp Q  &kp W  &kp E    &kp R  &kp T          &kp Y            &kp U  &kp I                        &kp O    &kp P
              &kp A  &kp S  &kp D    &kp F  &kp G          &kp H            &kp J  &kp K                        &kp L    &kp SEMI
&sk LEFT_GUI  &kp Z  &kp X  &kp C    &kp V  &kp B          &kp N            &kp M  &kp COMMA                    &kp DOT  &kp FSLH  &kp ENTER
                            &td_alt  &mo 2  &lt 3 SPACE    &kp RIGHT_SHIFT  &mo 1  &mt RIGHT_CONTROL BACKSPACE
            >;
        };

        pfeile {
            bindings = <
                 &kp GRAVE      &kp PRINTSCREEN      &kp SCROLLLOCK  &kp PAUSE_BREAK         &kp C_MUTE           &kp LC(Y)  &kp LC(V)       &kp LC(C)       &kp LC(X)     &kp LC(Z)
                 &kp LEFT_WIN   &mt LEFT_ALT INSERT  &mt LCTRL HOME  &mt LEFT_SHIFT PAGE_UP  &kp C_VOLUME_UP      &none      &kp LEFT        &kp DOWN        &kp UP_ARROW  &kp RIGHT
&kp NON_US_HASH  &kp BACKSLASH  &kp DEL              &kp END         &kp PAGE_DOWN           &kp C_VOLUME_DOWN    &mkp MB1   &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &mkp MB2
                                                     &mkp MB3        &mkp MB2                &mkp MB1             &none      &none           &none
            >;
        };

        zahlen {
            bindings = <
                      &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)    &kp LS(N6)      &kp LS(N7)    &kp LS(N8)  &kp LS(N9)  &kp LS(N0)
                      &kp N1      &kp N2      &kp N3      &kp N4      &kp N5        &kp N6          &kp N7        &kp N8      &kp N9      &kp N0
&kp NON_US_BACKSLASH  &kp RA(N1)  &kp RA(N2)  &kp RA(N3)  &kp RA(N4)  &kp RA(N5)    &kp RA(N6)      &kp RA(N7)    &kp RA(N8)  &kp RA(N9)  &kp RA(N0)  &kp RIGHT_BRACKET
                                              &to 4       &none       &none         &td_shift_ctrl  &kp LEFT_WIN  &td_alt
            >;
        };

        layer_3 {
            bindings = <
         &kp RA(Q)  &none   &none   &none    &none     &none           &kp LEFT_BRACKET  &none      &none   &none
         &kp APOS   &none   &none   &td_alt  &none     &kp RA(M)       &none             &none      &none   &kp SEMI
&kp F11  &kp F1     &kp F2  &kp F3  &kp F4   &kp F5    &kp F6          &kp F7            &kp F8     &kp F9  &kp F10   &kp F12
                            &none   &none    &none     &kp LEFT_SHIFT  &kp LEFT_WIN      &kp RCTRL
            >;
        };

        layer_4 {
            bindings = <
         &kp TAB    &kp Q  &kp N2  &kp E     &kp R        &trans  &trans  &trans  &trans  &trans
         &kp LSHFT  &kp A  &kp W   &kp D     &kp F        &trans  &trans  &trans  &trans  &trans
&kp ESC  &kp LCTRL  &kp Z  &kp S   &kp X     &kp C        &trans  &trans  &trans  &trans  &trans  &trans
                           &kp V   &kp LALT  &kp SPACE    &to 0   &trans  &trans
            >;
        };
    };
};
